<mat-toolbar
  class="header-container"
  style="justify-content: space-between; display: flex"
  *ngIf="showHeader()"
>
  <div class="search-wrapper">
    <input
      class="search-input"
      placeholder="Search by description or tag"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
    />
  </div>
  <div class="button-group">
    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Sort By</mat-label>
      <mat-select
        [(value)]="sortBy"
        class="dropdown"
        (valueChange)="onSortChange(sortBy)"
      >
        <mat-option value="description">Description</mat-option>
        <mat-option value="newest">Newest</mat-option>
        <mat-option value="oldest">Oldest</mat-option>
        <mat-option value="updated">Updated</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="openDialog()"
      class="new-btn-header"
    >
      +
    </button>
  </div>
</mat-toolbar>
