<div class="gallery-container">
  <div class="top-container"></div>
  <div class="image-grid" *ngIf="isData">
    <div class="masonry-grid">
      <mat-card
        *ngFor="let image of images | searchFilter : searchTerm | sort : sortBy"
        class="image-card"
      >
        <div class="image-wrapper">
          <img
            mat-card-image
            [src]="image.imageUrl"
            alt="{{ image.description }}"
            class="image"
            (click)="viewImage(image)"
            style="cursor: pointer"
          />
          <p class="title">{{ image.description }}</p>
        </div>
        <mat-card-content class="mat-tag-container">
          <p class="tags">
            <button mat-mini-fab color="primary" (click)="openTagDialog(image)">
              +
            </button>

            <ng-container
              *ngFor="let tag of getTagsToDisplay(image.tags, image.id!)"
            >
              <span class="tag" color="accent">{{ tag }}</span>
            </ng-container>

            <button
              *ngIf="shouldShowToggleButton(image.tags)"
              class="more-tags-btn"
              (click)="toggleTags(image.id!)"
            >
              {{
                expandedTags[image.id!]
                  ? "-"
                  : "+" + getRemainingCount(image.tags, image.id!)
              }}
            </button>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="primary" (click)="onEditImage(image)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteImage(image.id!, image.description)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="new-btn-card" (click)="openDialog()">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
    </div>
  </div>
</div>
