.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
    pointer-events: none;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 0px 0px 20px 20px;
  display: block;
  box-shadow: 0 -40px 20px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    border-radius: 10px 10px 0px 0px;
  }
}

.image-card {
  background-color: #cbd2d4;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  align-self: start;
  width: 25%;
}
.gallery-container {
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  padding-bottom: 12rem;
  .heading {
    font-size: 4rem;
    color: white;
    font-weight: 400;
  }
  @media (max-width: 550px) {
    padding-bottom: 17rem;
  }
}
.image-grid {
  width: 100%;
  max-height: 100%;
  align-items: start;
  overflow-y: auto;
}
.mat-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  gap: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.tag-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tag {
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 5px;
  font-size: 14px;
  color: #333;
}

.more-tags-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.more-tags-btn:hover {
  background-color: #cccccc;
}
.form-container {
  align-self: center;
  width: 200px;
  margin-bottom: 16px;
  @media (max-width: 530px) {
    align-self: start;
  }
}
button.mat-mini-fab {
  margin-right: 10px;
  border-radius: 50%;
}
.tag {
  background-color: #4d6c7c;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: rgb(235, 233, 233);
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 530px) {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}
.new-btn {
  border-radius: 20px;
  align-self: center;
  height: 5rem;
  width: 5rem;
}
.new-btn-card {
  margin-bottom: 1rem;
  width: fit-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15424a9b;
  height: 5rem;
  border-radius: 20px;
  align-self: center;
  color: white;
  transition: background-color 0.4s;
  &:hover {
    cursor: pointer;
    background-color: #3c807db7;
  }
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding: 16px;
  grid-auto-rows: 450px;
  @media (max-width: 1000px) {
    columns: 3;
  }
  @media (max-width: 768px) {
    columns: 2;
  }
  @media (max-width: 450px) {
    columns: 1;
  }
}

.image-card {
  break-inside: avoid;
  margin-bottom: 1rem;
  width: 100%;
}
.no-images {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin: 15rem auto;
  width: fit-content;
}
