<div class="bottom-sheet-container">
  <h2>Edit Image</h2>
  <form [formGroup]="editForm">
    <div>
      <p>select image</p>
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        style="display: none"
        #fileInput
      />
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Select Image
      </button>
    </div>

    <mat-label>Image Url :</mat-label>
    <input
      *ngIf="editForm.get('imageUrl')?.value"
      [value]="editForm.get('imageUrl')?.value"
      readonly
    />

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="editForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipList formControlName="tags" aria-label="Tags">
        <mat-chip
          *ngFor="let tag of editForm.get('tags')?.value"
          [removable]="true"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Add tag..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-grid>
      <mat-error *ngIf="editForm.get('tags')?.hasError('required')">
        At least one tag is required
      </mat-error>
    </mat-form-field>
  </form>

  <div class="actions" style="text-align: right; margin-top: 10px">
    <button mat-button (click)="cancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="editForm.invalid"
    >
      Save
    </button>
  </div>
</div>
