<h2 mat-dialog-title>Edit Image</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <div
      class="drop-zone"
      [class.dragging]="isDragging"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onFileDrop($event)"
    >
      <p>Drag and drop an image here or click to select</p>
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        style="display: none"
        #fileInput
        formControlName="imageUrl"
      />
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Select Image
      </button>
    </div>
    <mat-label>Image : </mat-label>
    <img
      *ngIf="editForm.get('imageUrl')?.value"
      [src]="editForm.get('imageUrl')?.value"
      class="preview-image"
    />
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="editForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <div class="chip-container">
      <mat-chip
        *ngFor="let tag of editForm.get('tags')?.value || []"
        [removable]="true"
        (removed)="removeTag(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </div>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Add a tag</mat-label>
      <input matInput placeholder="Add tag..." [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}" (blur)="addTagManual($event)"/>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="editForm.invalid"
  >
    Save
  </button>
</mat-dialog-actions>
